@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 900;
}

p {
    font-size: 18px; 
    color: #fefae0;
}

.content {
    width: 850px;
    margin: 0 auto;
}

.header {
    display: flex;
    background-color: #d4a373;
    color: white;
}

.header-menu > ul, li, h1 {
    display: inline;
    margin: 0px 10px;
}

.header-menu > ul > li > a {
    text-decoration: none;
    color: white;
}

ul {
    float: right;
}

.header-menu {
    padding: 45px 0px;
}

.header-section {
    display: flex;
    padding: 45px 0px 90px 0;
}

.header-text { flex: 2; }
.header-text > h2 { font-size: 48px; color: #f9faf8; }
.header-text > p { 
    margin: 15px 0px;
}

button {
    padding: 10px 25px;
    background-color: #606c38;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
}

.header-section > img {
    flex: 3;
    width: 520px;
    height: 235px;
    background-color: rgba(255, 255, 255, .5);
}

.section-one { margin: 50px 0px; }

h3 {
    font-size: 36px;
    color: #d4a373;
    margin: 24px 0px;
    text-align: center;
}

.info-grid {
    display: flex;
}

.info-grid > .info {
    flex: 1;
}

.info > p { color: #d4a373; }

.info > img {
    width: 170px;
    height: 170px;
    background-color: beige;
    border: 5px solid #606c38;
    border-radius: 10px;
}

.section-two {
    background-color: #e5e7eb;
}

.quote-text,
.quote-author {
    color: #d4a373;
}

.section-two > .content {
    padding: 60px 0px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    text-align: justify;
}

.quote-author {
    font-weight: 700;
    font-size: 24px;
    text-align: right;
}

.section-three {
    padding: 60px 0px;
}

.call-to-action {
    background-color: #606c38;
    margin: auto;
    padding: 45px;
    width: 950px;
    border-radius: 25px;
}

.call-to-action > .content { display: flex; }
.call-to-action > .content > .text, .button { flex: 1; }

.text {
    color: white;
}

.text > h4 {
    font-size: 24px;
}

.call-to-action > .content > button {
    border: 2px solid white;
}

.footer {
    background-color: #d4a373;
}

.footer > .content {
    color: white;
    text-align: center;
    padding: 25px 0px;
}